.create-account {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .create-account-header {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid gray;
  }
  
  .create-account-submit-button {
    padding: 10px 20px;
    background-color: lightblue;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  .create-account-submit-button:hover {
    background-color: blue;
  }
  